*,
*:after,
*:before {
    box-sizing: inherit;
}

html,
body {
    box-sizing: border-box;
}

body {
    background: #001821;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.42;
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

p {
    margin-top: 0;
}

.home-wrapper {
    background: url("../images/bg/hero.jpg") center top no-repeat,
    url("../images/bg/bottom-pic.jpg") center bottom 265px no-repeat;
}

.btn {
    display: inline-block;
    background: #F5170E;
    border-radius: 35px;
    border: none;
    padding: 17px 40px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    background: #da0100;
}

.btn_color_white {
    background: #ffffff;
    color: #F5170E;
    border: 1px solid #F5170E;
}

.btn_color_white:hover {
    background: #F5170E;
    color: #FFFFFF;
}

.container {
    margin: 0 auto;
    width: 1170px;
    padding: 0 15px;
}

.header {
    min-height: 120px;
    position: relative;
    margin-bottom: 98px;
}

.logo {
    display: block;
    position: absolute;
    top: 29px;
}

.logo__img {
    width: 98px;
}

.contacts__shedule-title {
    cursor: pointer;
    color: #98A4A8;
    display: block;
}

.contacts__shedule-title:hover {
    color: #ffffff;
}

.contacts__shedule-info {
    background: rgba(237, 237, 237, 0.8);
    border-radius: 5px;
    color: #1E1F20;
    padding: 14px 15px;
    display: inline-block;
    position: relative;
    top: 6px;
    font-weight: 600;
    text-align: left;
    line-height: 1.6;
}

.contacts__shedule-info:before {
    content: '';
    position: absolute;
    top: -20px;
    right: 43px;
    border: 12px solid transparent;
    border-bottom: 8px solid rgba(237, 237, 237, 0.8);
    display: block;
    width: 0;
    height: 0;
}

.contacts-text {
    display: block;
    font-size: 11px;
    color: #9A9A9A;
}

.main-menu {
    position: absolute;
    left: 164px;
    top: 37px;
}

.main-menu__list {
    margin: 0 -25px;
}

.main-menu__item {
    padding: 0 25px;
    display: inline-block;
    vertical-align: middle;
}

.main-menu__link {
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
}

.main-menu__item .main-menu__link:hover {
    color: #DA0100;
}

.main-menu__item_active .main-menu__link {
    color: #DA0100;
}

.contants {
    position: absolute;
    top: 22px;
    right: 0;
    font-style: normal;
    text-align: right;
}

.contacts__phone {
    text-decoration: none;
    font-size: 26px;
    display: inline-block;
}

.contacts__shedule {
    font-size: 13px;
}

.contacts__shedule-title {
    text-decoration: underline;
}

.hero {
    margin-bottom: 228px;
}

.hero__content {}

.hero__text-section {
    width: 520px;
}

.hero__title {
    font-weight: bold;
    font-size: 72px;
    line-height: 1.2;
    margin-bottom: 30px;
}

.hero__subtitle {
    font-size: 18px;
    margin-bottom: 30px;
}

.section {
    padding: 20px 0;
}

.section_home {
    margin-bottom: 100px;
}

.section_home:last-child {
    margin-bottom: 0;
}

.section__title {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 48px;
}

.tours__list {
}

.tours__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 25px;
}

.tours__item:last-child {
    margin-right: 0;
}

.tours__item-inner {
    width: 360px;
    min-height: 440px;
    border-radius: 5px;
    overflow: hidden;
    background: #ffffff;
    color: #303030;
}

.tours__img-wrapper {
    height: 141px;
    overflow: hidden;
    position: relative;
}

.tours__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tours__content {
    padding: 23px;
}

.tours__content-title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 17px;
}

.tours__text {
    font-size: 14px;
    margin-bottom: 25px;
    line-height: 1.5;
}

.tours__desc {
    margin-bottom: 20px;
    color: #666666;
}

.tours__desc-icon-wrap {
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
}

.tours__desc-block {
    display: inline-block;
    width: 150px;
    padding: 0 6px;
}

.tours__btn {
    padding: 15px 27px;
}

.news {
    margin-bottom: 50px;
}

.news__list {
    margin: 0 -10px;
}

.news__item {
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
}

.news__item-inner {
    width: 557px;
    height: 392px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.news__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news__content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 26px 30px;
    min-height: 170px;
}

.news__title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 5px;
}

.news__date {
    display: inline-block;
    font-size: 14px;
    text-transform: lowercase;
    margin-bottom: 14px;
}

.paginator {
    text-align: center;
    margin-bottom: 10px;
}

.paginator__display,
.paginator__list {
    display: inline-block;
    vertical-align: middle;
}

.paginator__display {
    margin-right: 20px;
}

.paginator__item {
    display: inline-block;
    vertical-align: middle;
}

.paginator__link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
}

.paginator__item_active .paginator__link {
    background: #ffffff;
    color: #F5170E;
}

.about {
    margin-bottom: 25px;
}
.about:before {
    content: '';
    width: 490px;
    height: 502px;
    background: url("../images/decor/gates.jpg") 66% 0 no-repeat;
    background-size: 115.5%;
    border-radius: 5px;
}

.about__content {
    width: 780px;
    min-height: 455px;
    padding: 70px 97px;
    border-radius: 5px;
    background: url("../images/decor/mountains.jpg") 100% 0 / 125% no-repeat;
    color: #060606;
    margin-left: -135px;
    margin-top: 108px;
}

.about:before,
.about__content {
    display: inline-block;
    vertical-align: top;
}

.about__content p:last-child {
    margin-bottom: 0;
}

.about__title {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 28px;
}

.about__desc {
    margin-bottom: 40px;
    line-height: 1.7;
}

.footer {
    height: 146px;
}

.footer__content {
    position: relative;
    margin-top: 17px;
}

.footer-container {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-container .contants {
    top: 28px;
}

.socials {
    position: absolute;
    top: 32px;
    right: 264px;
}

.socials__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__link {
    display: block;
    width: 36px;
    height: 36px;
    text-decoration: none;
    background: center center no-repeat;
}

.socials__item_icon_tg .socials__link {
    background-image: url("../images/icons/socials/t.png");
}
.socials__item_icon_tg .socials__link:hover {
    background-image: url("../images/icons/socials/t2.png");
}
.socials__item_icon_vk .socials__link {
    background-image: url("../images/icons/socials/vk.png");
}
.socials__item_icon_vk .socials__link:hover {
    background-image: url("../images/icons/socials/vk2.png");
}
.socials__item_icon_fb .socials__link {
    background-image: url("../images/icons/socials/f.png");
}
.socials__item_icon_fb .socials__link:hover {
    background-image: url("../images/icons/socials/f2.png");
}
.socials__item_icon_ig .socials__link {
    background-image: url("../images/icons/socials/in.png");
}
.socials__item_icon_ig .socials__link:hover {
    background-image: url("../images/icons/socials/in2.png");
}
