.central {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.central__content {
    margin-bottom: 55px;
    font-size: 18px;
}

.central__logo {
    width: 279px;
}

.central__btn {
    width: 168px;
}