.controls {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-bottom: -10px;
}

.controls__item {
    margin-right: 10px;
    margin-bottom: 10px;
}

.controls__elem {
    cursor: pointer;
}

.controls__checkbox {
    position: absolute;
    left: -9999px;
}

.controls__checkbox:checked ~ .controls__tag {
    background: #B9EAE4;
}

.controls__checkbox:focus ~ .controls__tag {
    outline: 1px solid #000;
}