.footer {}

.footer__content {
    display: flex;
    justify-content: space-between;
    padding: 45px 0;
}

.footer_home {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer__col {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__socials {
    margin-right: 45px;
}