.form {}

.form__row {
    display: flex;
    margin-bottom: 25px;
}

.form__input {
    flex: 1;
    margin-right: 30px;
    background: #FFFFFF;
    border-radius: 5px;
    border: none;
    padding: 20px 30px;
    font-size: 18px;
    color: #1A1B1E;
    line-height: 1.2;
}

.form__input:last-child {
    margin-right: 0;
}

.form__input::placeholder {
    color: #666666;
}

.form__input_textarea {
    resize: none;
    min-height: 235px;;
}

.form__controls {
    display: flex;
    justify-content: space-between;
}

.form__controls-title {
    width: 40%;
    font-size: 18px;
}