.hero {
    margin-bottom: 228px;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 528px;
}

.hero__content {}

.hero__text-section {
    width: 50%;
}

.hero__title {
    margin-bottom: 30px;
}

.hero__subtitle {
    font-size: 18px;
    margin-bottom: 30px;
}