.news {
    margin-bottom: 50px;
}

.news__list {
    display: flex;
    justify-content: space-between;
}

.news__item {
    flex: 1;
    height: 392px;
    margin-right: 25px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.news__item:last-child {
    margin-right: 0;
}

.news__img {
    max-width: none;
}

.news__content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 26px 30px;
    min-height: 170px;
}

.news__title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 5px;
}

.news__date {
    display: inline-block;
    font-size: 14px;
    text-transform: lowercase;
    margin-bottom: 14px;
}