.socials {}

.socials__list {
    display: flex;
}

.socials__item {
    margin-right: 10px;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__link {
    display: block;
    width: 36px;
    height: 36px;
    text-decoration: none;
}

.socials__item_icon_fb .socials__link {
    background: url('../../images/icons/socials/socials.png') -10px -10px;
}

.socials__item_icon_fb .socials__link:hover {
    background-position: -66px -10px;
}

.socials__item_icon_ig .socials__link {
    background: url('../../images/icons/socials/socials.png') -66px -66px;
}

.socials__item_icon_ig .socials__link:hover {
    background-position: -10px -66px;
}

.socials__item_icon_tg .socials__link {
    background: url('../../images/icons/socials/socials.png') -122px -10px;
}

.socials__item_icon_tg .socials__link:hover {
    background-position: -122px -66px;
}

.socials__item_icon_vk .socials__link {
    background: url('../../images/icons/socials/socials.png') -10px -122px;
}

.socials__item_icon_vk .socials__link:hover {
    background-position: -66px -122px;
}