.socials {}

.socials__list {
    display: flex;
}

.socials__item {
    margin-right: 10px;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__link {
    display: block;
    width: 36px;
    height: 36px;
    text-decoration: none;
    position: relative;
    border-radius: 50%;
}

.socials__link:after {
    content: '';
    display: block;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
    background: url('../../images/icons/socials/socials.png');
    opacity: 1;
}

.socials__link:before {
    content: '';
    display: block;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
    background: url('../../images/icons/socials/socials.png');
    opacity: 0;
}

.socials__link:hover:before {
    opacity: 1;
}

.socials__link:hover:after {
    opacity: 0;
}

.socials__item_icon_fb .socials__link:after {
    background-position: -10px -10px;
}

.socials__item_icon_fb .socials__link:before {
    background-position: -66px -10px;
}

.socials__item_icon_ig .socials__link:after {
    background-position: -66px -66px;
}

.socials__item_icon_ig .socials__link:before {
    background-position: -10px -66px;
}

.socials__item_icon_tg .socials__link:after {
    background-position: -122px -10px;
}

.socials__item_icon_tg .socials__link:before {
    background-position: -122px -66px;
}

.socials__item_icon_vk .socials__link:after {
    background-position: -10px -122px;
}

.socials__item_icon_vk .socials__link:before {
    background-position: -66px -122px;
}