.top-line {
    display: flex;
    flex-direction: column;
    min-height: 412px;
    background: url("../../images/bg/headline.jpg") no-repeat center center;
    padding-bottom: 25px;
}

.top-line__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}