.tours {
    display: flex;
    justify-content: space-between;
}

.tours__item {
    width: calc(100%/3 - 27px*2/3);
    min-height: 440px;
}

.tour {
    border-radius: 5px;
    overflow: hidden;
    background: #ffffff;
    color: #303030;
    display: flex;
    flex-direction: column;
}

.tour__img-wrapper {
    height: 141px;
}

.tour__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tour__content {
    flex: 1;
    padding: 23px;
}

.tour__content-title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 17px;
}

.tour__text {
    font-size: 14px;
    margin-bottom: 25px;
    line-height: 1.5;
}

.tour__desc {
    width: 88%;
    margin-bottom: 20px;
    color: #666666;
    display: flex;
    justify-content: space-between;
}

.tour__desc-block {
    padding: 0 4px;
}

.tour__desc-icon-wrap {
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
}